html{
  background-image: url("img/graffiti.jpg");
  background-size: cover;
  overflow-x: hidden;
  font-family: Quicksand;
}
.navigatie {
  background-color: black;
  position: fixed;
  width: 100%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 100px;
  border-bottom: 1px solid orange;
  margin-left: -10%;
  margin-top: -2.7%;
  padding-bottom: 20px;
  z-index: 9999999;
}
.item{
  text-decoration: none;
  margin-left: 9%;
  color: white;
  font-size: 2em;
  -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
/* ...and now for the proper property */
transition: .5s;
}
.item:hover{
  text-decoration: none;
  margin-left: 9%;
  color: orange;
  font-size: 2em;
}
.sitemix{
  color: orange;
  font-size: 3em;
  text-decoration: none;
  margin-left: 9%;
}

 .tvak{
  background-color: black;
  height: 190%;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  position: absolute;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid orange;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
}
.rico{
  margin-left: 3%;
  font-size: 1.5em;
  -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition: .5s;
cursor: pointer;
}
.rico:hover{
  margin-left: 3%;
  font-size: 1.5em;
  color: orange;
}
.lijn{
  height: 60px;
  margin-top: 0.5%;
  margin-left: 1.6%;
  width: 1px;
  background-color: white;
}
.copyright{
  height: 80px;
  width: auto;
  margin-left: 76%;
}
.ig{
  width: auto;
  height: 40px;
  margin-left: 20%;
  margin-top: 1%;
  position: absolute;
  cursor: pointer;
}
.fb{
  width: auto;
  height: 40px;
  margin-left: 35%;
  margin-top: 1%;
  position: absolute;
  cursor: pointer;
}
.yt{
  width: auto;
  height: 40px;
  margin-left: 50%;
  margin-top: 1%;
  position: absolute;
  cursor: pointer;
}
.tt{
  width: auto;
  height: 40px;
  margin-left: 65%;
  margin-top: 1%;
  position: absolute;
  cursor: pointer;
}
.sc{
  width: auto;
  height: 40px;
  margin-left: 80%;
  margin-top: 1%;
  position: absolute;
  cursor: pointer;
}
/* Hover van iconen */
.ig:hover{
  width: auto;
  height: 40px;
  margin-left: 20%;
  margin-top: 1%;
  position: absolute;
}
.fb:hover{
  width: auto;
  height: 40px;
  margin-left: 35%;
  margin-top: 1%;
  position: absolute;
}
.yt:hover{
  width: auto;
  height: 40px;
  margin-left: 50%;
  margin-top: 1%;
  position: absolute;
}
.tt:hover{
  width: auto;
  height: 40px;
  margin-left: 65%;
  margin-top: 1%;
  position: absolute;
}
.sc:hover{
  width: auto;
  height: 40px;
  margin-left: 80%;
  margin-top: 1%;
  position: absolute;
}
.grid-container {
  display: grid;
  grid-column-gap: 152px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 5%;
  position: absolute;
}
.grid-item{
  width: 300px;
  height: auto;
  border: 2px solid orange;
  margin-top: 15%;
}
